<% if User.current.allowed_to?(:add_issues, @project) %>
  <p>
    <%= link_to 'Gerar Tarefas de Execução', new_execution_task_path(parent_issue_id: @issue.id), class: 'icon icon-add' %>
  </p>
<% end %>